.department-tabs {
    display: flex;
    margin-top: 14px;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}
.tab {
    color: #97979B;
    margin: 0;
    padding: 8px 12px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
}

.active-tab {
    margin: 0;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #050510;
    border-bottom: 2px solid #6534FF;
    cursor: pointer;
}